.first-slide{
background-image: url("../images/murica.jpg");

/* Set a specific height */
height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center -75px;
background-repeat: no-repeat;
background-size: cover;
}
.second-slide{
background-image: url("../images/happypeople.jpg");

/* Set a specific height */
height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center -100px;
background-repeat: no-repeat;
background-size: cover;
}
.third-slide{
background-image: url("../images/sponsors.png");

/* Set a specific height */
height: 500px; 

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center -75px;
background-repeat: no-repeat;
background-size: cover;
}