.first-slide{
background-image: url("../images/murica.jpg");
background-position: center -125px;
}
.second-slide{
background-image: url("../images/car.jpg");
background-position: center -150px;
}
.third-slide{
background-image: url("../images/sponsors.png");
background-position: center -75px;
}
.parallax{
background-repeat: no-repeat;
background-size: cover;
height: 500px; 
background-attachment: fixed;
}
@media (max-height: 500px)
{	
	.first-slide{
	background-position: center;
	}
	.second-slide{
	background-position: center -100px;
	}
	.third-slide{
	background-position: center center;
	}
}
@media (min-width: 1300px)
{
	.second-slide{
	background-position: center -300px;
	}
}
@media (min-width: 1600px)
{
	.item{
	background-size:80%;
	}
	.first-slide{
	background-position: center -25px;
	}
}