#heading {
	display:block;
	height:300px;
	width:100%;
	background:darkgrey;
}
#heading-img
{
	background:url("car.jpg");
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;
}
#heading span{
	display:block;
	font-size:3em;
	color:white;
	background-color:#333333;
	opacity:.7;
}
body {
	margin:0;
	font-family:sans-serif;
}
nav ul{
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#333333;
}
nav li{
	float:left;
	padding: 15px;
}
nav a{
	text-decoration:none;
	color:#999;
}
nav li:hover{
    background-color: #111111;
	color:white;
}
#twitter {
	float:right;
}